.superior {
    display: flex;
    justify-content:space-around;
    margin-bottom: 15px;
}

.busqueda button[type="submit"] {
    width: 74%;
    margin-top: 10px;
}

.btn-group-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.btn-group-scroll .btn {
    display: inline-block;
    white-space: normal;
}

#pedido-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#pedido-table th {
    background: #f8f8f8;
}

#pedido-table td {
    border-top: 1px solid #e9ecef;
}

#pedido-table .cantidad-input {
    width: 40px;
}

.superior .btn {
    height: 40px; /* Establece una altura fija */
    display: inline-flex; /* Asegura que el contenido se centre verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    padding: 0 20px; /* Espaciado interno opcional */
    line-height: 1.5; /* Altura de línea para texto */
}

/* Opcional: Para hacer que la clase "alta" se vea diferente */
.superior .btn.alta {
    margin-right: 10px; /* Espacio entre los botones */
}

.anular {
    margin-left: 4px;
}

.anulado {
    background-color: #ff5765 !important; /* Rojo claro */
    color: #000000 !important; /* Texto en rojo oscuro */
}