{% extends "gestion/index.html" %}

{% load static %}
{% block css %}
<!-- Agrega los estilos necesarios para los modales, si es necesario -->
{% endblock %}

{% block content %}
<h2>GESTION DE CLIENTES - LaFamilia</h2>
<HR></HR>

<div id="contenedor">
    <a class="btn btn-primary alta" href="{% url 'Cli-Add' %}" role="button">Alta de cliente</a>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>ID</th>
            <th>Zona</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.pk }}</td>
                <td>{{ cliente.zona }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'Cli-Edit' cliente.pk %}">Editar</a>
                    |
                    <a class="btn btn-danger" href="{% url 'Cli-Delete' cliente.pk %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

{% endblock %}
