<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Pedido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href={% static "css/ped-detalles.css" %} />
    <!-- Incluye aquí tus estilos y scripts -->
</head>
<body>
    <h4 style="text-align:center">Distribuidora La Familia - 2657 635398</h4>
    <hr>
    <H2 style="border-bottom:none; margin-bottom:5px; margin-top:25px">Detalles del Pedido #{{ pedido.id }}</H2>    
    <p><strong>Cliente:</strong> {{ pedido.cliente.nombre }}</p>
    <p><strong>Direccion:</strong> {{ pedido.cliente.direccion }}</p>
    <p><strong>Zona:</strong> {{ pedido.cliente.zona }}</p>
    <p><strong>Vendedor:</strong> {{ pedido.vendedor.nombre }}</p>
    <p><strong>Fecha:</strong> {{ pedido.fecha }}</p>
    <br>
    PRODUCTOS:
    <ul style="margin-bottom:28px; margin-top: 10px">
        {% for item in pedido.pedidoproducto_set.all %}
            <li>{{ item.producto.nombre }} - {{ item.producto.marca }} | Precio unitario: ${{ item.precio_unitario }} - Cantidad: {{ item.cantidad }} </li>
        {% endfor %}
    </ul>
    
    <h3>Total del Pedido: ${{ pedido.total }}</h3>
    
</body>
</html>